<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>YICTWEB_NEO4J</display-name>
  <servlet>
    <servlet-name>RefreshDB</servlet-name>
    <servlet-class>xlsrv.com.action.RefreshDB</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RefreshDB</servlet-name>
    <url-pattern>/RefreshDB</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Restful</servlet-name>
    <servlet-class>xlsrv.com.action.Restful</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Restful</servlet-name>
    <url-pattern>/Restful</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>WebService</servlet-name>
    <servlet-class>xlsrv.com.action.WebService</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>FileUploadServlet</servlet-name>
    <url-pattern>/FileUploadServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>FileUploadServlet</servlet-name>
    <servlet-class>xlsrv.com.action.FileUploadServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WebService</servlet-name>
    <url-pattern>/WebService</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OperationDownload</servlet-name>
    <servlet-class>xlsrv.com.action.OperationDownload</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>OperationForecastDownload</servlet-name>
    <servlet-class>xlsrv.com.action.OperationForecastDownload</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OperationDownload</servlet-name>
    <url-pattern>/OperationDownload</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OperationForecastDownload</servlet-name>
    <url-pattern>/OperationForecastDownload</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>xlsrv.com.action.ScheduleDataTaskListener</listener-class>
  </listener>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
</web-app>